/*updated css*/          
.our-values_num {
  width: 150px;
  font-size: 100px;
  line-height: 80px;
  padding-right:30px;
}
.our-values_items {
  border-top: 1px solid #eeebe6;
  padding-top: 30px;
  max-width: 800px;
  margin: 0 auto;
}
.our-values_item {
  display: flex;
  margin-bottom:30px;
  padding-bottom:30px;
  border-bottom:1px solid #eeebe6;
}
.our-values_content h3.heading.h3 {
  margin-bottom: 15px;
}
.our-values_content {
  width: calc(100% - 150px);
}   
.text-left{
  text-align: left;
}
.section__header.text-container.text-left {
  margin-bottom: 30px;
}
.shopify-section--our-values{
  margin-top:90px;
}
.custom-image-text--section-wrapper{
  margin:70px 0;
}
.custom-image-text--section-wrapper .section__header{
  border-top:2px solid #BAAA9E;
  padding-top:40px;
}

.custom-image-text--section-wrapper .bottom_content_wrap {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.bottom_content_left{
  width:calc(80% - 220px);
}
.bottom_content_right{
  width:220px;
}
.bottom_content_left h3.heading {
  margin-bottom: 20px;
  font-size: 40px;
}    
.bottom_content_left .rte,
.bottom_content_right .rte{
  font-size: 16px;
  line-height: 28px;
}
.bottom_content_right h3.heading {
  text-transform: uppercase;
  margin-bottom: 20px;
}    
.custom-image-text--section-wrapper .image_wrapper img{
  width:100%;
}
.hidden {
  display: none;
}
.real-ingredients {
  display: flex;
}
.product-form__payment-container {
  margin-top: -16px;
  width: calc(100% - 170px);
  float: right;
}
.product-form__payment-container #AddToCart {
  margin-top: -50px;
}

@media screen and (min-width: 741px){
	.real-ingredients {
    /*     max-width: 100%; */
		margin-left: calc(var(--grid-column-width) + var(--grid-gap));
        margin-right: calc(var(--grid-column-width) + var(--grid-gap));
	} 
    .custom-image-text--section-wrapper .section__header,
    .custom-image-text--section-wrapper .image_wrapper,
    .custom-image-text--section-wrapper .bottom_content_wrap{
     	max-width: 1570px;
     	margin-left: calc(var(--grid-column-width) + var(--grid-gap));
     	margin-right: calc(var(--grid-column-width) + var(--grid-gap));
  	}
}
.real-ingredients .real-ingredients_left {
  width:55%;
  position:relative;
}
.real-ingredients .real-ingredients_right {
  width:45%;
  padding-left:30px;
}
.real-ingredients .real-ingredients_right .heading {
  text-align: right;
}
.real-ingredients .real-ingredients_right .rte{
  text-align: right;
}
.real-ingredients_right.ingredients_right_over_image {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 40px;
}
.real-ingredients .real-ingredients_right.ingredients_right_over_image .rte {
  text-align: left;
  color: #fff;
}
.ingredients__items{
  border-top: 1px solid #BAAA9E;
  margin-top:30px;
}
.ingredient__item {
  border-bottom: 1px solid #BAAA9E;
  padding: 3px 0;
}
.real-ingredients{
  border-top:1px solid #BAAA9E;
  padding-top:40px;
}
.real-ingredients--section-wrapper {
  margin: 90px 0;
}
.ingredient__item .ingredient__title {
  font-size: 21px;
  cursor: pointer;
}
.ingredient__item:hover .ingredient__title {
  opacity:0.5;
}
.real-ingredients .real-ingredients_left img {
  width: 100%;
}
.real-ingredients_right.mobile_show{
  display:none;
}
.real-ingredients .real-ingredients_left img{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.dropdown_wrapper {
  position: relative;
}
.ctm_wrapper .select .title {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing:1.7px;
  font-family: "Denim-Bold";
}
.dropdown_wrapper select.ctm_dropdown {
  width: 100%;
  padding: 0px 20px 0px 100px;
  border: 0!important;
  border-radius: 40px;
  cursor: pointer;
  background: #f5f2f1 url(angle-down.svg) no-repeat right 15px center;
  background-size: 26px auto;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 52px;
}
.ctm_wrapper .select__selected-value{
  width:100%;
  padding-left:10px;
}

/*Subscription option css*/
.variants-checkbox {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: space-between;
  margin:0 -10px;
}
.variants-checkbox-item h6 {
  text-align: center;
  letter-spacing: 1.7px;
  font-size: 15px;
  margin-bottom: -10px;
  text-transform:uppercase;
  font-family: 'Denim-Bold';
}
.variant-item {
  border: 2px solid;
  position: relative;
  overflow: hidden;
  margin:20px 10px;
  border-radius:20px;
}
.variant-item input[type="radio"]{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  opacity:0;
  cursor:pointer;
}
.variant-item label{
  display:flex;
  justify-content:space-between;
  padding:15px;
  min-height: 90px;
  cursor:pointer;
}
.variant-item input[type="radio"]:checked + label{
  background:#b9aba0;
}
.variant-item input[type="radio"]:checked + label *{
  color:#fff;
}
.variant-item label .left_col {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.variant-item label .right_col {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.variants-checkbox-item {
  width: 50%;
}
.variant-item span {
  font-family: 'Denim-Regular';
  text-transform:uppercase;
  font-size:16px;
  line-height:18px;
}
.variants-checkbox-item span.pro_variant {
  font-size: 16px;
  line-height:20px;
  font-family: Denim-Bold;
  text-transform: uppercase;
  letter-spacing:2px;
}
.variant-item span.regular-price.crossed {
  text-decoration: line-through;
  font-family: 'Denim-Regular';
  font-size:16px;
  line-height:22px;
}
.variant-item span.discount-price {
  font-size: 25px;
  line-height:30px;
  font-family: 'Denim-Regular';
}
.subscription-information a {
  font-size: 15px;
  text-decoration: underline;
  font-family: 'Denim-Regular';
}

.subscription-information-popup .icons {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
.subscription-information-popup h2.title {
  margin: 0 0 5px;
  font-size: 48px;
  line-height:50px;
}
.subscription-information-popup p.description {
  margin: 0 0 30px;
  font-size:32px;
  line-height:36px;
  font-family: 'Denim-Medium';
}
.subscription-information-popup .icon-and-text .image-container {
  margin: 0 auto 1em;
}
.subscription-information-popup h3 {
  font-size: 20px;
  line-height:22px;
  letter-spacing: normal;
  text-transform: none;
  margin: 0 0 0.3em;
  font-family: 'Denim-Medium';
}
.subscription-information-popup .icon-and-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 0;
  font-family: 'Denim-Medium';
  margin:0;
}
.subscription-information-popup .icon-and-text {
  justify-content: center;
  align-items: start;
  margin-left: 2em;
  width: 33.333%;
}
.subscription-information-popup .icon-and-text:first-child {
  margin-left: 0;
}
.fancybox-content {
  max-width: 750px;
  border-radius: 0px;
  padding: 35px;
}
.fancybox-slide--html .fancybox-close-small{
  padding:5px;
}
div#rc_container {
  display: none !important;
}
.hide {
  display: none !important;
}
.subscription-information-popup .icon-and-text img {
  max-width: 90px;
}
.product-meta__label-list.label-list {
  text-align: center;
}
form[action^="/cart/add"] [type=submit] {
  visibility: visible;
}
.product-form__description p{
  margin:0;
}
.product-form__description *:empty{
  margin:0;
}
.subscription-information {
  text-align: center;
  margin-top: -15px;
}
.product-meta__title{
  margin:0;
}
.product-form__description p:after {
  content: 'Read More';
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}




@media(max-width:999px){
  .bottom_content_left { width: calc(100% - 220px);}
  .bottom_content_right { padding-left: 40px;}
  .real-ingredients{flex-direction: column;}
  .real-ingredients .real-ingredients_right{width:100%; padding-left:0; margin-top:30px;}
  .real-ingredients .real-ingredients_right .heading, .real-ingredients .real-ingredients_right .rte{text-align:left;}
  .real-ingredients .real-ingredients_left { width: 100%;text-align: center;}
  .real-ingredients .real-ingredients_left img{width:auto; max-width:100%;}
  .real-ingredients .real-ingredients_right .mobile_hide { display: none !important;}
  .real-ingredients_right.mobile_show{ display:block; margin-bottom:20px;}
  .ingredients__items{margin-top:0;}
  .real-ingredients .real-ingredients_left { position: relative; padding-bottom: 100%; overflow: hidden;}
  .real-ingredients .real-ingredients_left img { position: absolute; width: 100%; height: 100%; object-fit: cover; left: 0; top: 0;}
  .real-ingredients_right.ingredients_right_over_image{padding:20px;}
}
@media(max-width:767px){
  .custom-image-text--section-wrapper .bottom_content_wrap{flex-direction: column;}
  .bottom_content_right{padding-left:0; margin-top:30px; width:100%; text-align:right;}
  .bottom_content_right h3.heading br{display:none;}
  .bottom_content_left{width:100%;}
  .our-values_num{font-size: 80px; line-height: 70px; padding-right:20px; width:120px;}  
  .image-with-text{padding-left:0; padding-right:0;}
  #shopify-section-template--15621075697910__1642627368fefe7f9b .content-box--left{margin-left: 0;}
  .real-ingredients_right.mobile_show{margin-top:0;}
  .real-ingredients--section-wrapper { margin: 50px 0;}
  .bottom_content_left h3.heading { margin-bottom: 20px; font-size: 30px;}
  
  
}
@media(max-width:480px){
  .our-values_num{font-size: 50px; line-height: 40px; padding-right:10px; width:70px;}  
  .our-values_content { width: calc(100% - 70px);}
  .product-form__payment-container { width: calc(100% - 150px);}
  .variants-checkbox-item span.pro_variant {
  font-size: 12px;
  line-height:15px;
  letter-spacing:1.2px;}
  
  .variant-item span.discount-price {
  font-size: 22px;
  line-height:23px;
    font-family: 'Denim-Medium';
}
  
  .subscription-information a {
  font-size: 13px;
}
  
  .variant-item span {
  font-size:14px;
  line-height:18px;
}
  .variants-checkbox-item h6{margin:-15px; font-size: 12px; }
  .subscription-information-popup h2.title { font-size: 30px; text-align: center; line-height:32px;}
  .subscription-information-popup p.description{text-align:center; font-size:20px; margin:0;}
  .subscription-information-popup .icons { flex-direction: column;}
  .subscription-information-popup .icon-and-text{margin:20px 0 0; width:100%;}
  .icon-and-text-container { text-align: center;}
  
  .product-form__payment-container #AddToCart { margin-top: 10px;}
  .product-form__payment-container {  width: 100%;}
}



/*************************/
/**** code added - AM ****/
/*************************/

/* slideshow arrows */
.slideshow-buttons {
  position: absolute; 
  transform: translateY(-750%);
  z-index: 20 ;
  width: 100% !important;
}
@media screen and (max-width: 1000px) {
  .slideshow-buttons {
    z-index: 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  .slideshow-buttons {
    transform: translateY(-800%);
  }
}

.slideshow-buttons button {
  color:white;
  border-color: #ffffff00;
  background-color: #ffffff00;
}
.slideshow-button-right {
  position: absolute;
  right: 0px;
}

/* vertical center quotes & logos. styling - Press section */
.press-list__item blockquote {
  padding-bottom:280px;
}
@media screen and (max-width: 465px) {
  .press-list__item blockquote {
    font-size: calc(var(--heading-large-font-size)*0.95);
    padding-bottom:360px;
  }
}
@media screen and (max-width: 360px) {
  .press-list__item blockquote {
    font-size: calc(var(--heading-large-font-size)*0.9);
    /* font-size: 30px; */
    padding-bottom:320px;
  }
}
@media screen and (max-width: 280px) {
  .press-list__item blockquote {
    padding-bottom:340px;
    /* font-size: 26px; */
    font-size: calc(var(--heading-large-font-size)*0.75);
  }
}

.press-list__item split-lines{
  position:absolute;
  top: 45% !important;
  transform: translateY(-45%) !important;
}

/* .press-list__logo-list-wrapper page-dots {
  margin-top:0;
} */
.press-list__logo-list-wrapper .slick-track {
  position:relative;
  padding-top: 30px;
}
.press-list__logo-item {
  top: 45% !important;
  left: 0 !important;
  transform: translate(100%, -50%) !important;
}
.press-list__logo-list-wrapper .slick-prev,
.press-list__logo-list-wrapper .slick-next {
  display:none !important;
}
.slick-current{
  opacity: 1;
}
.press-list__logo-image {
  margin-left: auto;
  margin-right: auto;
}
.last-slide {
  width:0 !important;
}
.instafeed-lightbox .lightbox-instagram .instafeed-caption {
  color: #baa99d !important;
} 
.template-product .shopify-installments__content, .template-product .shopify-installments__learn-more {
  display: none !important;
}